
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<p>test de ngmodel -> emplacement temporaire</p>
<input [(ngModel)]="afi" (keyup.enter)="getAffichage()" />
<p>{{afi}}</p>

<div class="card-container">
    <div class="card card-small" (click)="getPersonne(1)" tabindex="0">
        Sullivan
    </div>
    <div class="card card-small" (click)="getPersonne(2)" tabindex="0">
        Kevin
    </div>
    <div class="card card-small" (click)="getPersonne(3)" tabindex="0">
        Theo
    </div>
    <div class="card card-small" (click)="getChloe()" tabindex="0">
        Chloe
    </div>
    <div class="card card-small" (click)="getNicolat()" tabindex="0">
        Nicolat
    </div>
    <div class="card card-small" (click)="getFrancois()" tabindex="0">
        François
    </div>
    <div class="card card-small" (click)="getAlois()" tabindex="0">
        Alois
    </div>
    <div class="card card-small" (click)="getBaptiste()" tabindex="0">
        Baptiste
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="terminal">
        <h1 class="center blc">présentation</h1>
        <p class="blc">nom : {{personne.nom}}</p>
        <p class="blc">prenom : {{personne.prenom}}</p>
        <p class="blc">status : {{personne.status}}</p>
    </div>
    <br>
    <br>
    <br>
    <hr>
    
</div>

<!--<h1>Connexion</h1>
<p>Mdp : <input id="pass" type="text" mdp="text" ng-model="mdp"></p>
<input type="submit" value="Envoyer">-->
