
<h1 class="center">Bienvenu {{ prenom }} {{ nom }}</h1>
<br>
<br>

<h3>Votre Status: {{ status }}</h3>
<br>
<br>
<br>

<h1 class="center">Menu de l'application</h1>
<br>

<router-outlet (notify)="notifyEvent()"></router-outlet>



